<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="hub3cRabbitServer" connectionString="127.0.0.1" />
    <add name="AdviserHubDevEntities" connectionString="metadata=res://*/AdviserHubDataModel.csdl|res://*/AdviserHubDataModel.ssdl|res://*/AdviserHubDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-mentifi-development.database.windows.net;initial catalog=Hub3cLive;persist security info=True;user id=sqladmin;password=66V8EgE4w36XTgDn8NHQmyGVVV2EsKKb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HubHQEntities" connectionString="metadata=res://*/HubHQ.csdl|res://*/HubHQ.ssdl|res://*/HubHQ.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql-mentifi-development.database.windows.net;initial catalog=HubHQTest;persist security info=True;user id=sqladmin;password=66V8EgE4w36XTgDn8NHQmyGVVV2EsKKb;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql-mentifi-development.database.windows.net;Initial Catalog=HubHQLive;Persist Security Info=True;User ID=sqladmin;Password=66V8EgE4w36XTgDn8NHQmyGVVV2EsKKb;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Hub3cCoreEntities" connectionString="data source=sql-mentifi-development.database.windows.net;initial catalog=Hub3cLive;persist security info=True;user id=sqladmin;password=66V8EgE4w36XTgDn8NHQmyGVVV2EsKKb;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Hub3cEntities" connectionString="metadata=res://*/Hub3c.csdl|res://*/Hub3c.ssdl|res://*/Hub3c.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=sql-mentifi-development.database.windows.net;Initial Catalog=Hub3cLive;Persist Security Info=True;User ID=sqladmin;Password=66V8EgE4w36XTgDn8NHQmyGVVV2EsKKb;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="MailServer" value="mail.smtp2go.com" />
    <add key="MailServerPort" value="2525" />
    <add key="MailServerUseSSL" value="false" />
    <add key="SysAdminMailTo" value="mentifi.devops@geekseat.com.au" />
    <add key="SysMailFrom" value="noreply@mentifi.com" />
    <add key="SysMailFromPassword" value="hR2qMof79NPKnbT7Ld6GFXmmg95Anas4" />
    <add key="SysMailFromSupport" value="mentifi.devops@geekseat.com.au" />
    <add key="IsIncludeEmailCC" value="false" />
    <add key="SysMailSales" value="mentifi.devops@geekseat.com.au" />
    <add key="SysEmailCC" value="mentifi.devops@geekseat.com.au" />
    <add key="ApplicationServerUrl" value="http://test-aws.hub3c.ga/" />
    <add key="IsTesting" value="Off" />
    <add key="Network21Admin" value="Network 21 Administrator" />
    <add key="CryptographyKey" value="C$4u#8Zxe4~9{4\]3RdX!j0YI5%nS9Pd" />
    <!--Email Subject Settings-->
    <add key="EmailSubject_AdviserJoinedReminder" value="A new team member has joined" />
    <add key="EmailSubject_AssignActivity" value="Assign Activity" />
    <add key="EmailSubject_BulletinReply" value="Bulletin Reply" />
    <add key="EmailSubject_DocumentWorkflowAssign" value="Document Workflow Assign" />
    <add key="EmailSubject_DocumentWorkflowUpdate" value="Document Workflow Update" />
    <add key="EmailSubject_EventInvitation" value="Event Invitation" />
    <add key="EmailSubject_FileTransfer" value="File Sharing" />
    <add key="EmailSubject_FileTransferDownload" value="File Sharing Notification" />
    <add key="EmailSubject_InviteActive" value="Invitation Accepted" />
    <add key="EmailSubject_InviteBusiness" value="Invitation from {0}" />
    <add key="EmailSubject_Invoice" value="Invoice" />
    <add key="EmailSubject_LicenceAssigned" value="You have been assigned an app licence" />
    <add key="EmailSubject_LinkActivate" value="Link Active" />
    <add key="EmailSubject_LinkRequest" value="Link Request" />
    <add key="EmailSubject_NetworkHubActivateInvitation" value="NetworkHub Invitation" />
    <add key="EmailSubject_NewBusiness" value="New Company" />
    <add key="EmailSubject_NewPassport" value="New Passport" />
    <add key="EmailSubject_NextActivitySequence" value="Next Activity" />
    <add key="EmailSubject_NotifyDocument" value="Document Notification" />
    <add key="EmailSubject_PrivateBulletin" value="Private Bulletin Reply" />
    <add key="EmailSubject_Project" value="Project Assignment" />
    <add key="EmailSubject_ResetPassword" value="Reset Password" />
    <add key="EmailSubject_SendMessage" value="New Message" />
    <add key="EmailSubject_ShareDocument" value="Document Sharing" />
    <add key="EmailSubject_SupportTicket" value="Support Ticket" />
    <add key="EmailSubject_ActivityProjectReminder" value="Activity Updated" />
    <add key="EmailSubject_RequestSignOff" value="Request Sign-off" />
    <add key="EmailSubject_EmailCampaign" value="Hi From Hub3C" />
    <add key="EmailSubject_BillingReport" value="Hub3C Billing Report" />
    <add key="EmailSubject_RequestConsultation" value="Request Consultation" />
    <add key="EmailSubject_SolutionTypeNewInvitedUserHCM" value="New Invited User HCM" />
    <add key="EmailSubject_RecommendToConnect" value="Business Network Recommendation" />
    <add key="EmailSubject_HCMEmailChangedNotification" value="Email Address Changed" />
    <add key="EmailSubject_HCMSubscriptionNotification" value="HCM Subscription Notification" />
    <add key="EmailSubject_InviteEdu" value="Join {0} on {1}" />
    <add key="EmailSubject_EduHubConnectRequest" value="Connection Request" />
    <add key="EmailSubject_EduConnectionActive" value="Connection Activated" />
    <add key="EmailSubject_EduHubNewAccount" value="New Account" />
    <add key="EmailSubject_EduHubRejectInvitation" value="Connection Request Confirmation" />
    <add key="EmailSubject_MentifiGoalProgressNotification" value="Goal Progress Notification" />
    <!--Scheduler-->
    <add key="SendEmailJobInterval" value="1" />
    <add key="CleanupEmailJobInterval" value="10" />
    <add key="CleanupNotificationJobInterval" value="2" />
    <add key="CleanupChatRoomJobInterval" value="5" />
    <add key="UserOfflineSettingJobInterval" value="120" />
    <add key="UserAwaySettingJobInterval" value="5" />
    <add key="BillingJobInterval" value="60" />
    <add key="FailedPaymentNotificationEmail" value="aadilah@geekseat.com.au" />
    <add key="FailedPaymentNotificationEmailCc" value="armand.caesario@gmail.com" />
    <add key="BypassBillingBusinessIds" value="" />
    <add key="IsBillingServiceActive" value="false" />
    <add key="IsBillingReportServiceActive" value="true" />
    <add key="BillingReportEmail" value="ahmad.permana@geekseat.com.au;erick.dacu@geekseat.com.au;aadilah@geekseat.com.au" />
    <!--stripe-->
    <add key="StripeLiveStatus" value="false" />
    <add key="StripeApiKey_Test" value="sk_test_c0jS219w3gSQy2oXYeVnGTk8" />
    <add key="StripeApiKey_Live" value="sk_live_c0jS219w3gSQy2oXYeVnGTk8" />
    <!--Google API Key -->
    <add key="GoogleClientID" value="622070302208-nkqigl0pm2salet0b5e7cjij870akmuu.apps.googleusercontent.com" />
    <add key="GoogleSecret" value="tBSI68TWcGuG3UD338I9_YDa" />
    <add key="GoogleAPIKey" value="AIzaSyA8holp0BLrnvNzZ4LRozfIvfUQSSW_XqU" />
    <add key="GoogleCX" value="017738507640109657977:1nk3qpmchgk" />
    <add key="GoogleDataStore" value="Google.Token" />
    <add key="GoogleReturnUrl" value="https://test.hub3c.ga/Admin/ManageUserEmail?Google=true" />
    <!-- Gs Bus -->
    <add key="AuthServer_RMQHost" value="localhost" />
    <add key="AuthServer_RMQVirtualHost" value="/development" />
    <add key="AuthServer_RMQUser" value="rmqadmin" />
    <add key="AuthServer_RMQPassword" value="QTdpo8yygjgGbaUdS2AjYmCK5ByUM8bk" />
    <add key="AuthServer_RMQRPCTimeoutInSeconds" value="5" />
    <!--Billing Engine-->
    <add key="BillingEnggine_BaseUrl" value="https://billing-engine-api-dev.hub3c.com/" />
    <!-- RabbitMQ -->
    <add key="rabbitMQUsername" value="rmqadmin" />
    <add key="rabbitMQPassword" value="QTdpo8yygjgGbaUdS2AjYmCK5ByUM8bk" />
    <!--Owin Handler-->
    <add key="owin:AutomaticAppStartup" value="false" />
    <!-- Gs Hive -->
    <add key="GsHiveResourcePath" value="i18nResources" />
    <add key="DefaultCulture" value="en-AU" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" maxRequestLength="2147483647" />
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="hub3cDefaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483646" />
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="10" maxConcurrentInstances="2147483647" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="hub3cRestServiceBehaviour">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="restBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="hub3cBasicHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <binding name="hub3cDocumentHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" receiveTimeout="01:50:00" transferMode="Buffered" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
        <!--server-->
        <binding name="FileTransferHttpBinding" closeTimeout="00:15:00" openTimeout="00:15:00" receiveTimeout="00:15:00" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Hub3c.Service.Support" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ISupport" />
      </service>
      <service name="Hub3c.Service.Export" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IExport" />
      </service>
      <service name="Hub3c.Service.FileTransfer" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="FileTransferHttpBinding" contract="Hub3c.Service.IFileTransfer" />
      </service>
      <service name="Hub3c.Service.Business" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IBusiness" />
      </service>
      <service name="Hub3c.Service.Document" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cDocumentHttpBinding" contract="Hub3c.Service.IDocument" />
      </service>
      <service name="Hub3c.Service.Project" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IProject" />
      </service>
      <service name="Hub3c.Service.System" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ISystem" />
      </service>
      <service name="Hub3c.Service.Member" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IMember" />
      </service>
      <service name="Hub3c.Service.Security" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ISecurity" />
      </service>
      <service name="Hub3c.Service.Account" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IAccount" />
      </service>
      <service name="Hub3c.Service.Activity" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IActivity" />
      </service>
      <service name="Hub3c.Service.Join" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IJoin" />
      </service>
      <service name="Hub3c.Service.Message" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IMessage" />
      </service>
      <service name="Hub3c.Service.Licence" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ILicence" />
      </service>
      <service name="Hub3c.Service.Bulletin" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IBulletin" />
      </service>
      <service name="Hub3c.Service.Chat" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IChat" />
      </service>
      <service name="Hub3c.Service.Note" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.INote" />
      </service>
      <service name="Hub3c.Service.CRM" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ICRM" />
      </service>
      <service name="Hub3c.Service.Forum" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IForum" />
      </service>
      <service name="Hub3c.Service.Events" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IEvents" />
      </service>
      <service name="Hub3c.Service.Life" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ILife" />
      </service>
      <service name="Hub3c.Service.Task" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ITask" />
      </service>
      <service name="Hub3c.Service.Search" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ISearch" />
      </service>
      <service name="Hub3c.Service.Schedule" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ISchedule" />
      </service>
      <service name="Hub3c.Service.Help" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IHelp" />
      </service>
      <service name="Hub3c.Service.Billing" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IBilling" />
      </service>
      <service name="Hub3c.Service.JobScheduler" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IJobScheduler" />
      </service>
      <service name="Hub3c.Service.AdminPortal" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IAdminPortal" />
      </service>
      <service name="Hub3c.Service.Workflow" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IWorkflow" />
      </service>
      <service name="Hub3c.Service.StripeService" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="" behaviorConfiguration="restBehavior" contract="Hub3c.Service.IStripeService" />
      </service>
      <service name="Hub3c.Service.Job2Job" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IJob2Job" />
      </service>
      <service name="Hub3c.Service.Mentifi" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IMentifi" />
      </service>
      <service name="Hub3c.Service.LicenceManager" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.ILicenceManager" />
      </service>
      <service name="Hub3c.Service.Journal" behaviorConfiguration="hub3cDefaultServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="hub3cBasicHttpBinding" contract="Hub3c.Service.IJournal" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: F22E6615-C285-4111-AC69-31119B6C40D9-->