<appSettings>
  <!--ahmad machine settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="ahmad.geekseat@gmail.com" />
  <add key="SysMailFrom" value="ahmad.geekseat@gmail.com" />
  <add key="SysMailFromSupport" value="ahmad.geekseat@gmail.com" />
  <add key="SysMailSales" value="ahmad.geekseat@gmail.com" />
  <add key="SysEmailCC" value="ahmad.geekseat@gmail.com" />
  
  <add key="StripeLiveStatus" value="false" />
  <add key="StripeApiKey_Test" value="sk_test_epQl1TTJ2v8ENoN3GZE34VOE" />

  <!-- RabbitMQ -->
  <add key="rabbitMQUsername" value="hub3c"/>
  <add key="rabbitMQPassword" value="ZXasqw12"/>
  <!--end ahmad settings-->
</appSettings>