<appSettings>
  <add key="SysAdminMailTo" value="putu.sukariawan@geekseat.com.au" />
  <add key="rabbitMQUsername" value="guest" />
  <add key="rabbitMQPassword" value="guest" />
  <add key="AuthServer_RMQVirtualHost" value="/auth" />
  <add key="AuthServer_RMQUser" value="auth" />
  <add key="AuthServer_RMQPassword" value="auth" />
</appSettings>