<appSettings>
  <!--ahmad machine settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="pria.geekseat@mail.com" />
  <add key="SysMailFrom" value="pria.geekseat@mail.com" />
  <add key="SysMailFromSupport" value="pria.geekseat@mail.com" />
  <add key="SysMailSales" value="pria.geekseat@mail.com" />
  <add key="SysEmailCC" value="pria.geekseat@mail.com" />

  <add key="StripeLiveStatus" value="false" />
  <add key="StripeApiKey_Test" value="sk_test_Ayy9HdAuHHSSBTwTnKYrERXJ" />

  <!-- RabbitMQ -->
  <add key="rabbitMQUsername" value="guest"/>
  <add key="rabbitMQPassword" value="guest"/>
  <!--end ahmad settings-->
</appSettings>