<!--This connection string will replace the ones in the web.config file-->
<connectionStrings>
  <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  <add name="Hub3cEntities" connectionString="metadata=res://*/Hub3c.csdl|res://*/Hub3c.ssdl|res://*/Hub3c.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=Hub3cLive;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=HubHQLive;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SessionStateEntities" connectionString="initial catalog=ASPState;data source=.\SQLEXPRESS;User ID=sa;password=P@ssw0rd" providerName="System.Data.SqlClient" />
  <add name="hub3cRabbitServer" connectionString="119.9.27.16" />
</connectionStrings>