<appSettings>
  <!--ahmad machine settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="ahmad.geekseat@gmail.com" />
  <add key="SysMailFrom" value="ahmad.geekseat@gmail.com" />
  <add key="SysMailFromSupport" value="ahmad.geekseat@gmail.com" />
  <add key="SysMailSales" value="ahmad.geekseat@gmail.com" />
  <add key="SysEmailCC" value="ahmad.geekseat@gmail.com" />

  <add key="StripeLiveStatus" value="false" />
  <add key="StripeApiKey_Test" value="sk_test_CErHfqB5T8o2PGwqN0G6kYXT" />

  <add key="TurnOnBackendServices" value="true" />

  <!-- Auth Server Config -->
  <add key="AuthServer_Enable" value="false" />
  <add key="AuthServer_BaseUrl" value="http://localhost:60000/" />
  <add key="AuthServer_ClientId" value="web-app" />
  <add key="AuthServer_ClientSecret" value="ZXasqw12" />
  <!--end ahmad settings-->
</appSettings>