<appSettings>
  <!--ahmad machine settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysMailFrom" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysMailFromSupport" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysMailSales" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysEmailCC" value="jeremia.nathanael@geekseat.com.au" />
  
  <add key="AuthServer_Enable" value="true" />
  <add key="AuthServer_BaseUrl" value="http://localhost:60000/" />
  <add key="AuthServer_ClientId" value="web-app" />
  <add key="AuthServer_ClientSecret" value="ZXasqw12" />
  <add key="AuthServer_LoginRedirectUri" value="http://localhost:53418" />
  <add key="AuthServer_LogoutRedirectUri" value="http://localhost:53418" />
  <add key="AuthServer_RMQHost" value="localhost" />
  <add key="AuthServer_RMQVirtualHost" value="/" />
  <add key="AuthServer_RMQUser" value="guest" />
  <add key="AuthServer_RMQPassword" value="guest" />
  <add key="AuthServer_RMQRPCTimeoutInSeconds" value="300" />
  <add key="AuthServer_Domain" value="hub3c.local:53418" />
  <add key="AuthServer_CookieDomain" value=".hub3c.local" />
  <!-- Valid value: development, staging, migration, production | default to development -->
  <add key="AuthServer_Environment" value="development" />
  
  <add key="rabbitMQUsername" value="guest" />
  <add key="rabbitMQPassword" value="guest" />

  <add key="EnableRainbowBackEndService"  value="OFF"/>
  <add key="EnableRainbowUIChat" value="OFF"/>

  <add key="TurnOnBackendServices" value="true" />
</appSettings>
