<!--This connection string will replace the ones in the web.config file-->
<connectionStrings>
  <add name="AdviserHubDevEntities" connectionString="metadata=res://*/AdviserHubDataModel.csdl|res://*/AdviserHubDataModel.ssdl|res://*/AdviserHubDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Hub3cTest;persist security info=True;user id=sa;password=P@ssw0rd;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=HubHQTest;Persist Security Info=True;User ID=sa;Password=P@ssw0rd;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>