<appSettings>
  <!--CA settings-->
  <add key="MailServer" value="smtp-relay.sendinblue.com"/>
  <add key="MailServerPort" value="587"/>
  <add key="MailServerUseSSL" value="True"/>
  <add key="SysMailFrom" value="ferry.aritonang@geekseat.com.au"/>
  <add key="SysMailFromPassword" value="xsmtpsib-3fceb6e5e31edcdaa19018b0e4b84dfa2463926c0e0199d63e7cea66107fefc6-bapXUA7W90KEYLOt"/>
  <add key="SysAdminMailTo" value="ferry.aritonang@geekseat.com.au" />
  <add key="SysMailFromSupport" value="ferry.aritonang@geekseat.com.au" />
  <add key="SysMailSales" value="ferry.aritonang@geekseat.com.au" />
  <add key="SysEmailCC" value="ferry.aritonang@geekseat.com.au" />

  <add key="AuthServer_RMQHost" value="localhost" />
  <add key="AuthServer_RMQVirtualHost" value="/" />
  <add key="AuthServer_RMQUser" value="guest" />
  <add key="AuthServer_RMQPassword" value="guest" />
  <add key="AuthServer_RMQRPCTimeoutInSeconds" value="300" />

  <add key="rabbitMQUsername" value="guest" />
  <add key="rabbitMQPassword" value="guest" />
</appSettings>
