<appSettings>
  <add key="MailServer" value="smtp.mailgun.org"/>
  <add key="MailServerPort" value="587"/>
  <add key="MailServerUseSSL" value="false"/>
  <add key="SysMailFrom" value="postmaster@sandbox4abccd76dc224d6bb8ff3f80efbe4fdc.mailgun.org"/>
  <add key="SysMailFromPassword" value="12345"/>
  <add key="SysAdminMailTo" value="affan.dafananto@geekseat.com.au" />
</appSettings>
