<appSettings>
  <!--Y machine settings-->
  <add key="SysAdminMailTo" value="bayu.nugraha@geekseat.com.au" />
  <add key="AuthServer_RMQHost" value="localhost" />
  <add key="AuthServer_RMQVirtualHost" value="/auth" />
  <add key="AuthServer_RMQUser" value="auth" />
  <add key="AuthServer_RMQPassword" value="auth" />
  <!--end Y settings-->
</appSettings>