<appSettings>
  <!--CA settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="anasdove@gmail.com" />
  <add key="SysMailFrom" value="anasdove@gmail.com" />
  <add key="SysMailFromSupport" value="anasdove@gmail.com" />
  <add key="SysMailSales" value="anasdove@gmail.com" />
  <add key="SysEmailCC" value="anasdove@gmail.com" />
</appSettings>
