<appSettings>
  <!--ahmad machine settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="armand.caesar@gmail.com" />
  <add key="SysMailFrom" value="armand.caesar@gmail.com" />
  <add key="SysMailFromSupport" value="armand.caesar@gmail.com" />
  <add key="SysMailSales" value="armand.caesar@gmail.com" />
  <add key="SysEmailCC" value="armand.caesar@gmail.com" />
  
  <add key="StripeLiveStatus" value="false" />
  <add key="StripeApiKey_Test" value="sk_test_c0jS219w3gSQy2oXYeVnGTk8" />

  <!-- RabbitMQ -->
  <add key="rabbitMQUsername" value="guest"/>
  <add key="rabbitMQPassword" value="ZXasqw12"/>
  <!--end ahmad settings-->
</appSettings>