<appSettings>
  <!--CA settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysMailFrom" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysMailFromSupport" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysMailSales" value="jeremia.nathanael@geekseat.com.au" />
  <add key="SysEmailCC" value="jeremia.nathanael@geekseat.com.au" />

  <add key="AuthServer_RMQHost" value="localhost" />
  <add key="AuthServer_RMQVirtualHost" value="/" />
  <add key="AuthServer_RMQUser" value="guest" />
  <add key="AuthServer_RMQPassword" value="guest" />
  <add key="AuthServer_RMQRPCTimeoutInSeconds" value="300" />

  <add key="rabbitMQUsername" value="guest" />
  <add key="rabbitMQPassword" value="guest" />
</appSettings>
