<!--This connection string will replace the ones in the web.config file-->
<connectionStrings>
  <add name="AdviserHubDevEntities" connectionString="metadata=res://*/AdviserHubDataModel.csdl|res://*/AdviserHubDataModel.ssdl|res://*/AdviserHubDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5A3CDR5;initial catalog=Hub3cTest;persist security info=True;user id=sa;password=ZXasqw12;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="MembershipEntities" connectionString="metadata=res://*/Membership.csdl|res://*/Membership.ssdl|res://*/Membership.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-5A3CDR5;Initial Catalog=HubHQTest;Persist Security Info=True;User ID=sa;Password=ZXasqw12;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ApplicationServices" connectionString="data source=DESKTOP-5A3CDR5;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  <add name="Hub3cEntities" connectionString="metadata=res://*/Hub3c.csdl|res://*/Hub3c.ssdl|res://*/Hub3c.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DESKTOP-5A3CDR5;Initial Catalog=Hub3cTest;Persist Security Info=True;User ID=sa;Password=ZXasqw12;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="SessionStateEntities" connectionString="initial catalog=ASPState;data source=DESKTOP-5A3CDR5;User ID=sa;password=ZXasqw12" providerName="System.Data.SqlClient" />
  <add name="hub3cRabbitServer" connectionString="127.0.0.1" />
</connectionStrings>