<appSettings>
  <!--CA settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="muhammad.gumilar@geekseat.com.au" />
  <add key="SysMailFrom" value="muhammad.gumilar@geekseat.com.au" />
  <add key="SysMailFromSupport" value="muhammad.gumilar@geekseat.com.au" />
  <add key="SysMailSales" value="muhammad.gumilar@geekseat.com.au" />
  <add key="SysEmailCC" value="muhammad.gumilar@geekseat.com.au" />
</appSettings>
