<appSettings>
  <!--CA settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="rikky.hermanto@geekseat.com.au" />
  <add key="SysMailFrom" value="rikky.hermanto@geekseat.com.au" />
  <add key="SysMailFromSupport" value="rikky.hermanto@geekseat.com.au" />
  <add key="SysMailSales" value="rikky.hermanto@geekseat.com.au" />
  <add key="SysEmailCC" value="rikky.hermanto@geekseat.com.au" />
  <add key="AuthServer_RMQUser" value="guest" />
</appSettings>
