<appSettings>
  <!--fajar machine settings-->
  <add key="SysAdminMailTo" value="reynaldi.surya@geekseat.com.au" />  
  <!--end fajar settings-->

  <!--<add key="AuthServer_RMQHost" value="localhost" />
  <add key="AuthServer_RMQVirtualHost" value="/" />
  <add key="AuthServer_RMQUser" value="guest" />
  <add key="AuthServer_RMQPassword" value="guest" />-->
  <add key="AuthServer_RMQHost" value="54.206.115.140" />
  <add key="AuthServer_RMQVirtualHost" value="/staging" />
  <add key="AuthServer_RMQUser" value="hub3c" />
  <add key="AuthServer_RMQPassword" value="ZXasqw12" />
  <add key="AuthServer_RMQRPCTimeoutInSeconds" value="300" />
  <add key="AuthServer_Domain" value="hub3c.local:53418" />
  <add key="AuthServer_CookieDomain" value=".hub3c.local" />
  <!-- Valid value: development, staging, migration, production | default to development -->
  <add key="AuthServer_Environment" value="development" />

  <add key="rabbitMQUsername" value="guest" />
  <add key="rabbitMQPassword" value="guest" />
</appSettings>