<appSettings>
  <!--CA settings-->
  <add key="MailServer" value="localhost" />
  <add key="MailServerPort" value="25" />
  <add key="MailServerUseSSL" value="false" />
  <add key="SysAdminMailTo" value="yogi.geekseat@outlook.com" />
  <add key="SysMailFrom" value="yogi.geekseat@outlook.com" />
  <add key="SysMailFromSupport" value="yogi.geekseat@outlook.com" />
  <add key="SysMailSales" value="yogi.geekseat@outlook.com" />
  <add key="SysEmailCC" value="yogi.geekseat@outlook.com" />

  <add key="StripeLiveStatus" value="false" />
  <add key="StripeApiKey_Test" value="sk_test_c0jS219w3gSQy2oXYeVnGTk8" />

  <!-- RabbitMQ -->
  <add key="rabbitMQUsername" value="hub3c"/>
  <add key="rabbitMQPassword" value="ZXasqw12"/>
  <!--end ahmad settings-->
</appSettings>
